<div class="content ">

    <div class="h-[10vh] ">

        <nav class="row m-0 md:px-3 lg:h-[8vh]  border-b border-white ">
            <div class="col-md-6 pt-2">
                <div>
                    <h1 class="text-2xl font-bold text-white"> OBCApps Corporation</h1>

                </div>

            </div>

        </nav>
    </div>



</div>


<div class="min-h-[90vh]  flex flex-col  justify-between  " style="color: #233775;background-color: #F6F7F9;">

    <div class=" flex flex-col  justify-between mx-[1%]">


        <div class=" m-3 font-bold ">
            Method Search: {{metodoBusqueda}}
        </div>

        <div class="row m-0 p-0  ">

            <!-- CUADRO IZQUIERDO -->
            <div class="col-md-5  py-2 lg:p-0 lg:px-3 col-lg-3 ">

                <div class="row m-0 py-2 bg-white sombreado  rounded-lg  ">
                    <div class=" m-3 font-bold ">
                        Original Image
                    </div>
                    <div class="col-lg-12 global-center">
                        <!-- <img src="../../../../assets/images/user.jpg" class=" "> -->
                        <img [src]="imagen" class=" h-40 w-70 rounded-lg" alt="Image">
                        <br>
                    </div>

                    <div class="col-8 col-lg-12 px-[.5em] md:my-1 2xl:my-2">
                        <label [class]="inputNormalLabel">Nombres:</label>
                        <input type="text" [class]="inputNormalIn"  [(ngModel)]="nombre" required>
                    </div>

                    <div class="global-end py-1">
                        <button routerLink="/login" class="bg-blue-900 text-white font-bold py-1 px-5 rounded">
                            Search-Others
                        </button>
                    </div>



                </div>

            </div>


            <!-- CUADRO DERECHO -->
            <div class="col-md-7 col-lg-9 ">
                <div class=" bg-white sombreado rounded-lg px-2 lg:px-10 lg:mx-3  ">

                    <table class="table ">
                        <thead>
                            <tr class="border-hidden text-[.6em]  lg:text-[.7em] text-center  " style="color: #A7B9D1;">
                                <th class="col-3 leading-[1.2em]  font-normal">
                                    <span>TOTAL IMAGES</span>
                                </th>
                                <th class="col-3 leading-[1.2em]  font-normal">
                                    <span>EXECUTION TIME</span>
                                </th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="col-3 p-0 border-hidden ">
                                    <div class="h-8  font-semibold text-white text-2xl global-center color-gray-500">
                                        {{resultados.length}}</div>
                                </td>
                                <td class="col-3 p-0 ">
                                    <div class="h-8  font-semibold text-white text-2xl global-center color-gray-500">{{tiempoEjecicion | number: '1.0-2'}}s
                                    </div>
                                </td>

                            </tr>
                        </tbody>

                    </table>

                    <div class="row">
                        <div class="col-6 col-lg-3 my-1 2xl:my-2  leading-[1.2em]  "
                            *ngFor="let item of resultados">
                            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <a>
                                    <img [src]="'data:image/jpeg;base64,' + item.imagen" class=" h-40 w-full rounded-lg" alt="Image">
                                </a>
                                <div class="text-center">
                                    <a>
                                        <h2 class="mb-2 text-2xl  tracking-tight text-blue-900 dark:text-white">{{item.nombre}}</h2>
                                    </a>
                                    <p class="mb-3 font-normal text-blue-900 dark:text-gray-400">Porcent : 90%.</p>
                                    <!-- <a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                        Read more
                                         <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <!-- LOADING -->
                    <div *ngIf="flagCargando" class="flex items-center justify-center   ">
                        <div role="status">
                            <!--LOADING CODE-->
                            <svg aria-hidden="true"
                                class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                    fill="currentColor" />
                                <path
                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                    fill="currentFill" />
                            </svg><span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <br>
                </div>


            </div>

        </div>




        <div class="global-center" style="color:#A7B9D1 ;">
            <p>Royal Systems v 4.0.9</p>
        </div>
    </div>
    <!-- <app-footer [color]="'background-color: #A7B9D160;'"></app-footer> -->

</div>


<!-- Loading cargando -->
<div *ngIf="isLoading">
    <div class="z-1 fixed top-0 left-0 w-full h-full " style="background-color: rgba(0, 0, 0, 0.5);"></div>
    <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
        <div class="flex item-center justify-center">
            <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
        </div>
        <span class="text-center font-normal text-white">{{sms_loading}}</span>
    </div>
</div>